<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaCIA</title>


    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Vollkorn" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <script src="~/js/layout.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"
            integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I="
            crossorigin="anonymous"></script>
    
</head>
<body>
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img width="200" src="~/images/logo.jpg" alt="LOGO">
                </a>

            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                    <a data-placement="bottom" data-toggle="tooltip" data-original-title="Stats">
                        <i class="fa fa-calendar"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sistema CIA <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <li><a><i class="fa fa-fw fa-user"></i> Editar Perfil</a></li>
                        <li><a><i class="fa fa-fw fa-cog"></i> Cambiar Contraseña</a></li>
                        <li class="divider"></li>
                        <li><a asp-area="" asp-controller="Login" asp-action="CerrarSesion"><i class="fa fa-fw fa-power-off"></i>Salir</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-fw fa-group"></i> Oración x3 <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-1" class="collapse">
                            <li><a asp-area="" asp-controller="Procesoox3" asp-action="AgregarProcesoX3"><i class="fa fa-angle-double-right"></i> Crear nuevo(Ox3)</a></li>
                            <li><a asp-area="" asp-controller="Procesoox3" asp-action="Index"><i class="fa fa-angle-double-right"></i> Proceso actual(Ox3)</a></li>
                            <li><a asp-area="" asp-controller="Procesoox3" asp-action="Index"><i class="fa fa-angle-double-right"></i> Procesos anteriores(Ox3)</a></li>
                            <li><a asp-area="" asp-controller="Procesoox3" asp-action="Index"><i class="fa fa-angle-double-right"></i> Proceso actual(Lider)</a></li>
                            <li><a asp-area="" asp-controller="Procesoox3" asp-action="Index"><i class="fa fa-angle-double-right"></i> Procesos anteriores(Lider)</a></li>
                            <li><a asp-area="" asp-controller="Procesoox3" asp-action="Index"><i class="fa fa-angle-double-right"></i> Resumen general(Ox3)</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-cubes"></i> Consolidación <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-2" class="collapse">
                            <li><a asp-area="" asp-controller="Site" asp-action="Index"><i class="fa fa-angle-double-right"></i> Agregar boletas</a></li>
                            <li><a asp-area="" asp-controller="Site" asp-action="Index"><i class="fa fa-angle-double-right"></i> Historiales </a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#submenu-3"><i class="fa fa-fw fa-street-view"></i> Células <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-3" class="collapse">
                            <li><a asp-area="" asp-controller="Celulas" asp-action="AgregarInforme"><i class="fa fa-angle-double-right"></i> Informes </a></li>
                            <li><a asp-area="" asp-controller="Site" asp-action="Index"><i class="fa fa-angle-double-right"></i> Mi célula </a></li>
                            <li><a asp-area="" asp-controller="Site" asp-action="Index"><i class="fa fa-angle-double-right"></i> Células hijas</a></li>
                            <li><a asp-area="" asp-controller="Celulas" asp-action="AgregarCelula"><i class="fa fa-angle-double-right"></i> Agregar nueva célula </a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#submenu-4"><i class="fa fa-fw fa-university"></i>  Academias <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-4" class="collapse">
                            <li><a asp-area="" asp-controller="Academias" asp-action="Create"><i class="fa fa-angle-double-right"></i> Crear oferta </a></li>
                            <li><a asp-area="" asp-controller="Academias" asp-action="Index"><i class="fa fa-angle-double-right"></i> Ofertas academicas </a></li>
                            <li><a asp-area="" asp-controller="Site" asp-action="Index"><i class="fa fa-angle-double-right"></i> Reportes </a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#submenu-5"><i class="fa fa-fw fa-thumb-tack"></i>  Actividades <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-5" class="collapse">
                            <li><a asp-area="" asp-controller="Encuentros" asp-action="GestionarEncuentros"><i class="fa fa-angle-double-right"></i>Gestionar encuentros</a></li>
                            <li><a asp-area="" asp-controller="Encuentros" asp-action="Encuentros"><i class="fa fa-angle-double-right"></i> Encuentros</a></li>
                            <li><a asp-area="" asp-controller="Site" asp-action="Index"><i class="fa fa-angle-double-right"></i> Reencuentros </a></li>
                            <li><a asp-area="" asp-controller="Cumbretimoteos" asp-action="Index"><i class="fa fa-angle-double-right"></i> Cumbres </a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Site" asp-action="Index"><i class="fa fa-fw fa fa-question-circle"></i> Consultas </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">

                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2018 - SistemaCIA</p>
                </footer>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
