@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

p {
    font-family: 'Vollkorn', serif;
}

.content {
    margin-top: 150px;
    margin-bottom: 150px;
}

.fondo-fijo {
    position: fixed;
    text-align: center;
    opacity: 0.5;
    width: 100%;
    padding: 450px;
    background: url("imagen2.jpg")center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fondo {
    text-align: center;
    opacity: 0.9;
    width: 100%;
    padding-top: 413px;
    padding-bottom: 413px;
    color: white;
    background: url("../images/lado.jpg")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.pastor {
    text-align: center;
    opacity: 0.9;
    width: 100%;
    padding-top: 413px;
    padding-bottom: 413px;
    color: white;
    background: url("../images/pastor.jpg")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cuadro {
    margin-top: 40px;
    margin-bottom: 40px;
}

.imagen {
    margin-top: 15px;
}

.fondo2 {
    width: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
    background: url("../images/imagen2.jpg")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*-------------------------------------------------------------------------------------*/
.ministerios {
    opacity: 0.9;
    text-align: center;
    width: 100%;
    font-size: 60px;
    padding-top: 413px;
    padding-bottom: 413px;
    background: url("../images/ministerios.jpg")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Mfondo {
    opacity: 0.9;
    text-align: center;
    width: 100%;
    font-size: 60px;
    padding-top: 413px;
    padding-bottom: 413px;
    background: url("../images/Mfondo.jpg")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.min {
    width: 100%;
    padding-top: 180px;
    padding-bottom: 180px;
    background: url("../images/min.jpg")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cover {
    opacity: 0.9;
    font-family: 'Bree Serif', serif;
    color: white;
    background-color: #fb9f0e;
    width: 100%;
    height: 100px;
    font-size: 60px;
    padding-bottom: 100px;
    padding-top: 30px;
    border-radius: 4px;
}

    .cover img {
        border: solid 1px;
        width: 500px;
    }

.MT {
    margin-top: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    border-radius: 2px;
}

/*-------------------------------------------------------------------------------------*/

.nosotros {
    text-align: center;
    opacity: 0.9;
    width: 100%;
    padding-top: 413px;
    padding-bottom: 413px;
    color: white;
    background: url("../images/nosotros.jpg")center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.footer-1 {
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #343434;
    background-attachment: fixed;
    background-size: cover;
}

    .footer-1 a {
        text-decoration: none;
        color: white;
    }

.footer-2 {
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #212121;
    background-attachment: fixed;
    background-size: cover;
}

    .footer-2 a {
        text-decoration:none;
        color:white;
    }
.footer-content {
    margin-bottom: 30px;
}

/*.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}*/
/*.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}*/

/*ICONOS DE REDES SOCIALES*/
.boton {
    font-size:80px;
    padding:10px;
}

    .boton:hover {
        background-color:#2b63ff;
    }

.botonYT {
    font-size: 80px;
    padding: 10px;
}

    .botonYT:hover {
        background-color: #fb3f3f;
    }

.btn-container {
    margin-left:100px;
    margin-top:20px;
}
/**************************/


@media (max-width: 767px) {
    .fondo {
        padding-top: 253px;
        padding-bottom: 293px;
        background: url("../images/CR.jpg")center no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
    }

    .ministerios {
        opacity: 0.9;
        font-family: 'Bree Serif', serif;
        text-align: center;
        width: 100%;
        padding-top: 300px;
        padding-bottom: 413px;
        background: url("../images/ministerios.jpg")center center no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

@media (max-width: 625px) {
    .cover {
        color: black;
        background-color: white;
        width: 100%;
        height: 100px;
        padding-bottom: 220px;
        padding-top: 30px;
        border-radius: 4px;
        font-size: 50px;
    }

    #Obj {
        margin-top: 0px;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 50%;
        position: relative;
        height: 0;
    }

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

/*LOGO*/


#logo {
    margin-top: -15px;
    width: 200px;
    height: 50px;
}

#Obj {
    margin-top: -30px;
}


#TopSpace {
    margin-top: 150px;
}
/*COLORES*/
#azul {
    background-color: #2192F1;
}

#verde {
    background-color: #00CD2B;
}

#naranja {
    background-color: #FF9C00;
}

#morado {
    background-color: #DC56FD;
}

#amarillo {
    background-color: #C3BD0B;
}

.login {
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 6px 2px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 6px 2px rgba(0,0,0,1);
    box-shadow: 1px 1px 6px 2px rgba(0,0,0,1);
}

.loginheader {
    font-family: 'Merriweather', serif;
    background-color: #fa9213;
    color: white;
    text-align: center;
    padding: 20px;
}

.loginbody {
    padding:15px 10px;
}

.btn-login {
    border: none;
    background: #f78246;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 200ms ease;
   
}
    .btn-login:hover {
        text-decoration: none;
        background: #fff;
        color: #f78246;
        box-shadow: inset 0 0 0 3px #f78246;
    }

