
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<div class="container-fluid fondo">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Bienvenido</h1>
                <p class="medium-paragraph">
                    "Antes de ser una gran iglesia, seremos una gran familia"
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-sm-6 cuadro">

            <div class="row">
                <div class="col-sm-3 imagen">
                    <img width="80px" src="~/images/libro.png" alt="">
                </div>
                <div class="col-sm-9">
                    <h3>Titulo</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-6 cuadro">
            <div class="row">
                <div class="col-sm-3 imagen">
                    <img width="80px" src="~/images/pregunta.png" alt="">
                </div>
                <div class="col-sm-9">
                    <h3>Titulo</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-6 cuadro">

            <div class="row">
                <div class="col-sm-3 imagen">
                    <img width="80px" src="~/images/libro.png" alt="">
                </div>
                <div class="col-sm-9">
                    <h3>Titulo</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-sm-6 cuadro">
            <div class="row">
                <div class="col-sm-3 imagen">
                    <img width="80px" src="/images/pregunta.png" alt="">
                </div>
                <div class="col-sm-9">
                    <h3>Titulo</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid fondo2">

</div>

<div class="container content">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="text-align: center;">Nuestras actividades</h2>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="~/images/libro.png" alt="...">
                <div class="caption">
                    <h3>Titulo actividad</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="~/images/libro.png" alt="...">
                <div class="caption">
                    <h3>Titulo actividad</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="~/images/libro.png" alt="...">
                <div class="caption">
                    <h3>Titulo actividad</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="~/images/libro.png" alt="...">
                <div class="caption">
                    <h3>Titulo actividad</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                        Ut wisi enim ad minim veniam, quis nostrud.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>



