
@{
    ViewData["Title"] = "MMisiones";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<div class="container-fluid Mfondo">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <center>
                    <div class="cover">
                        <p>Ministerio de Alcance</p>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-sm-3">
            <div id="Obj" class="thumbnail">
                <a href="#"><img width="180" src="~/images/obj.png" alt="Objetivo"></a>
            </div>
        </div>
        <div class="col-sm-9">
            <h2>Objetivo</h2>
            <p>lorem ipsum dolor sit amet, sin amet dolor ne si pone dolo</p>
        </div>
    </div>
</div>

<div class="container-fluid min">
    <div class="container content">
        <div class="row">
            <div class="col-sm-9">
                <h2>Objetivo</h2>
                <p>lorem ipsum dolor sit amet, sin amet dolor ne si pone dolo</p>
            </div>
            <div class="col-sm-3">
                <div id="Obj" class="thumbnail">
                    <a href="#"><img width="180" src="~/images/obj.png" alt="Objetivo"></a>
                </div>
            </div>
        </div>
    </div>
</div>

