
@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<div class="container-fluid nosotros">
    <div class="container">
        <div class="row">
            <div id="Obj" class="col-sm-12">
                <h1>Conoce sobre Nosotros</h1>
                <p class="medium-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                    Ut wisi enim ad minim veniam, quis nostrud.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-sm-3">
            <div id="Obj" class="thumbnail">
                <a href="#"><img width="180" src="~/images/mision.png" alt="Objetivo"></a>
            </div>
        </div>
        <div class="col-sm-9">
            <h2>Misión</h2>
            <p>Somos llamados a ser una gran familia, dispuesta a restaurar y transformar a otros por medio del cambio de mentalidad producido por la proclamación de la palabra de Dios, promoviendo el avivamiento y la búsqueda del Reino de Dios.</p>
        </div>
    </div>

    <div id="TopSpace" class="row">
        <div class="col-sm-3">
            <div id="Obj" class="thumbnail">
                <a href="#"><img width="180" src="~/images/vision.png" alt="Objetivo"></a>
            </div>
        </div>
        <div class="col-sm-9">
            <h2>Visión</h2>
            <p>Seremos una Iglesia que levantará un movimiento que se multiplicará numérica y ministerialmente con una mentalidad de Reino.</p>
        </div>
    </div>
</div>

