 
@{
    ViewData["Title"] = "Pastor";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<div class="container-fluid pastor">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Conoce a nuestro pastor</h1>
                <p class="medium-paragraph">
                    "Cambia tu manera de pensar,<b>para que cambie tu manera de vivir</b>"
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-sm-12">
           <h2><i class="fa fa-fw fa-user fa-2x" aria-hidden="true"></i>Josué Brenes Araya</h2><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>Nace el nueve de agosto de 1969, en San José Costa Rica, en una hermosa familia compuesta en primer lugar por Wilfrido Brenes y Margarita Araya,
            a donde llegaron sucesivamente cuatro hermanos y dos hermanas más. Se trasladan a vivir al Cantón la Unión, de la Provincia de Cartago, 
            donde ha vivido la mayor parte de su vida. Contra Nupcias el 02 de mayo de 1992 con Adriana Portillo Gómez, con la que reciben una hija
            del corazón en el año 2014 y una hija del vientre después de 23 años de espera en el año 2015.</p>

            <p>Realiza estudios en Contabilidad en la Universidad Castra Carazo, así mismo toma estudios en Teología Bíblica primeramente en el 
            Instituto Bíblico de las Asambleas de Dios, luego en la Federación Alianza Evangélica Costarricense, continuando sus estudios superiores
            en la Universidad Estatal a Distancia y en la Universidad Nacional de Costa Rica en el área de Teología Social donde obtiene un bachillerato
            y concluye el nivel de Licenciatura. Hoy está concluyendo otra Licenciatura en el área de docencia y realizando estudios en el área del Coaching.
            Además realiza estudios de maestría en Liderazgo Bíblico.</p>

            <p>A nivel laboral se ha desempeñado como contador en compañías tales como la Distribuidora de Harrick”s y Perugina, en Visión Mundial
            Internacional y el Banco Popular. Además de tener el honor de haber sido el Coordinador de Evangelismo y Discipulado de la Federación
            Alianza Evangélica Costarricense. Ha sido presidente Nacional de la Unión de Iglesias Libres de Costa Rica, y en el año 2002 planta el
            Centro Internacional de Avivamiento con sede en Tres Ríos, Cartago, un ministerio pujante enfocado en la transformación de sus miembros
            para el desarrollo de su máximo potencial y el alcance del propósito personal</p>

            <p>Se ha desempeñado como orador en eventos ministeriales en diferentes países, además de asesor ministerial para diferentes ministerios, 
            con el propósito de establecer estrategias que respondan a su contexto histórico y social con una Visión y Misión relevante para sus comunidades. 
            Realizando también la labor docente en el área de teología en el Instituto Bíblico de la Federación Alianza Evangélica Costarricense.</p>
            
        </div>
    </div>

   
        <div style="margin-top:50px;" class="row">
            <div class="col-sm-12">
                <h3><i class="fa fa-fw fa-info fa-lg"></i>Contactos</h3>
            </div>
        </div>
        <div style="margin-top:50px;" class="row">
            <div class="col-sm-4">
                <h4><i class="fa fa-fw fa-phone"></i>Teléfono</h4>
                <p>(506) 7291-8589</p>
            </div>
            <div class="col-sm-4">
                <h4><i class="fa fa-fw fa-envelope"></i>Correo</h4>
                <p>jbrenes@cambiatumente.com</p>
            </div>
            <div class="col-sm-4">
                <h4><i class="fa fa-fw fa-globe"></i>Sitio web</h4>
                <a href="http://cambiatumente.com/index.html">cambiatumente.com</a>
            </div>
        </div>
    
    
</div>

