@model SistemaCIA.Models.ContextDb.Encuentros

@{
    ViewData["Title"] = "Agregar equipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contenido">
    <h3><img width="50" src="~/images/logo2.jpg" />Agregar equipo de encuentro</h3>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="caja2">
                <form asp-action="AgregarEquipoEnc">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="CodigoEncuentro" />
                    <input type="hidden" asp-for="Nombre" />
                    <input type="hidden" asp-for="Lema" />
                    <input type="hidden" asp-for="Objetivo" />
                    <input type="hidden" asp-for="FechaFinal" />
                    <input type="hidden" asp-for="FechaInicio" />

                    <center>
                        <h3>@Html.DisplayFor(model => model.Nombre)</h3> 
                        <p>Del @Html.DisplayFor(model => model.FechaInicio) al @Html.DisplayFor(model => model.FechaFinal)</p>
                    </center>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <h4><b>Asistente</b></h4>
                            <div class="form-group">
                                <select asp-for="Asistente" class="form-control" asp-items="ViewBag.Asistente"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4><b>Asistente Cocina</b></h4>
                            <div class="form-group">
                                <select asp-for="AsistenteCocina" class="form-control" asp-items="ViewBag.AsistenteCocina"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4><b>Cocina</b></h4>
                            <div class="form-group">
                                <select asp-for="Cocina" class="form-control" asp-items="ViewBag.Cocina"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4><b>Coordinador</b></h4>
                            <div class="form-group">
                                <select asp-for="Coordinador" class="form-control" asp-items="ViewBag.Coordinador"></select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <h4><b>Decoración</b></h4>
                            <div class="form-group">
                                <select asp-for="Decoracion" class="form-control" asp-items="ViewBag.Decoracion"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4><b>Finanzas</b></h4>
                            <div class="form-group">
                                <select asp-for="Finanzas" class="form-control" asp-items="ViewBag.Finanzas"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4><b>Guia H1</b></h4>
                            <div class="form-group">
                                <select asp-for="GuiaH1" class="form-control" asp-items="ViewBag.GuiaH1"></select>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <h4><b>Guia H2</b></h4>
                            <div class="form-group">
                                <select asp-for="GuiaH2" class="form-control" asp-items="ViewBag.GuiaH2"></select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <h4><b>Guia M1</b></h4>
                            <div class="form-group">
                                <select asp-for="GuiaM1" class="form-control" asp-items="ViewBag.GuiaM1"></select>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <h4><b>Guia M2</b></h4>
                            <div class="form-group">
                                <select asp-for="GuiaM2" class="form-control" asp-items="ViewBag.GuiaM2"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4><b>Guia</b></h4>
                            <div class="form-group">
                                <select asp-for="Guia" class="form-control" asp-items="ViewBag.Guia"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4><b>Logistica</b></h4>
                            <div class="form-group">
                                <select asp-for="Logistica" class="form-control" asp-items="ViewBag.Logistica"></select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <h4><b>Música</b></h4>
                            <div class="form-group">
                                <select asp-for="Musica" class="form-control" asp-items="ViewBag.Musica"></select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4><b>Servidor</b></h4>
                            <div class="form-group">
                                <select asp-for="Servidor" class="form-control" asp-items="ViewBag.Servidor"></select>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>

                    <center>
                        <div class="form-group">
                            <input style="float:none; width:200px;" type="submit" value="Guardar equipo" class="btn-next" />
                        </div>
                    </center>

                </form>
            </div>  
        </div>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>

