@model SistemaCIA.Models.ContextDb.Encuentros

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3><img width="50" src="~/images/logo2.jpg" />Agregar finanzas</h3>
            <hr />
        </div>
        <div class="col-sm-2"></div>
    </div>
    
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="caja">
                <form asp-action="AgregarFinanzas">
                    <input type="hidden" asp-for="CodigoEncuentro" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-12 panel-heading">
                            <center>
                                <h3>@Html.DisplayFor(model => model.Nombre)</h3>
                                <p>Del @Html.DisplayFor(model => model.FechaInicio) al @Html.DisplayFor(model => model.FechaFinal)</p>
                            </center>
                            
                           
                        </div>
                    </div>
                    <hr />
                    <b>Total del dinero:</b> ₡@Html.DisplayFor(model => model.TotalDinero)
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="MontoDecoracion" class="control-label">Monto decoración</label>
                                <div class="input-group">
                                    <span class="input-group-addon">₡</span>
                                    <input type="text" asp-for="MontoDecoracion" class="form-control" />
                                    <span asp-validation-for="MontoDecoracion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="MontoLogistica" class="control-label">Monto logística</label>
                                <div class="input-group">
                                    <span class="input-group-addon">₡</span>
                                    <input type="text" asp-for="MontoLogistica" class="form-control" />
                                    <span asp-validation-for="MontoLogistica" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="MontoComida" class="control-label">Monto comida</label>
                                <div class="input-group">
                                    <span class="input-group-addon">₡</span>
                                    <input type="text" asp-for="MontoComida" class="form-control" />
                                    <span asp-validation-for="MontoComida" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="MontoServicio" class="control-label">Monto servicio</label>
                                <div class="input-group">
                                    <span class="input-group-addon">₡</span>
                                    <input type="text" asp-for="MontoServicio" class="form-control" />
                                    <span asp-validation-for="MontoServicio" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="MontoTransporte" class="control-label">Monto transporte</label>
                                <div class="input-group">
                                    <span class="input-group-addon">₡</span>
                                    <input type="text" asp-for="MontoTransporte" class="form-control" />
                                    <span asp-validation-for="MontoTransporte" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="MontoOtros" class="control-label">Otros montos</label>
                                <div class="input-group">
                                    <span class="input-group-addon">₡</span>
                                    <input type="text" asp-for="MontoOtros" class="form-control" />
                                    <span asp-validation-for="MontoOtros" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <center>
                                <div class="form-group">
                                    <input style="float:none; width:200px;" type="submit" value="Guardar" class="btn-next" />
                                </div>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
