@model SistemaCIA.Models.ContextDb.Personas

@{
    ViewData["Title"] = "Agregar Encuentrista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/js/formToWizard.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $("#agregarEncuentrista").formToWizard({ submitButton: 'agregar' })
        });
</script>

<script type="text/javascript">
    var cont = 0;

    function llenaBarra() {
        cont += 1;
        if (cont == 1) { 
            document.getElementById('barra').style.width = '54%';
        }
        
        if (cont == 2) { 
            document.getElementById('barra').style.width = '77%';
        }

        if (cont == 3) {
            document.getElementById('barra').style.width = '100%';
        }
    }

    function vaciaBarra() {
        cont = cont - 1;
        if (cont == 0)
            document.getElementById('barra').style.width = '32%';
        if (cont == 1)
            document.getElementById('barra').style.width = '54%';
        if (cont == 2)
            document.getElementById('barra').style.width = '77%';
    }
     
</script>

<div class="contenido">

    <div class="row">
        <div class="panel-heading division" style="border-bottom: solid 2px #1e7c9b">
            <h3><img width="50" src="~/images/logo2.jpg" />Agregar encuentrista</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 col-sm-offset-3">
            <div class="panel-body division">
                <form id="agregarEncuentrista" asp-action="AgregarEncuentrista">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="progress progress-striped active">
                        <div id="barra" class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 32%">
                        </div>
                    </div>
                    <fieldset>
                        <legend style="display:none;"><i style="position:center;" class="fa fa-address-book-o fa-2x"></i><br />Información Personal</legend>
                        <h3>Información Personal</h3>
                        <hr style="border:1px solid #1e7c9b"/>
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellido1" class="control-label">Primer Apellido</label>
                            <input asp-for="Apellido1" class="form-control" />
                            <span asp-validation-for="Apellido1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellido2" class="control-label">Segundo Apellido</label>
                            <input asp-for="Apellido2" class="form-control" />
                            <span asp-validation-for="Apellido2" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaDeNacimiento" class="control-label">Fecha de nacimiento</label>
                            <input asp-for="FechaDeNacimiento" class="form-control" />
                            <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sexo" class="control-label"></label><br />
                            <label><input asp-for="Sexo" type="radio" name="sexo" id="1" value="Masculino" />Masculino</label>
                            <label style="margin-left:25px;"><input asp-for="Sexo" type="radio" name="sexo" id="2" value="Femenino" />Femenino</label>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Estado Civil</label><br />
                            <label><input type="radio" name="estado" id="1" value="Masculino" onclick="mostrarDiv(id);" />Soltero</label>
                            <label style="margin-left:25px;"><input type="radio" name="estado" id="2" value="Femenino" onclick="mostrarDiv(id);" />Casado</label>
                        </div>
                        <script>
                            function mostrarDiv(estado) {
                                if (estado == 1) {
                                    document.getElementById('info').style.display = 'none';
                                }
                                else {
                                    document.getElementById('info').style.display = 'block';
                                    document.getElementById('info').className = 'animated fadeIn panel panel-primary';
                                }
                            }
                        </script>

                        <div style="display:none;" id="info">
                            <div class="panel-heading">
                                <h3>Estado civil</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="NombreCompletoConyuge" class="control-label">Nombre Completo Conyuge</label>
                                    <input asp-for="NombreCompletoConyuge" class="form-control" />
                                    <span asp-validation-for="NombreCompletoConyuge" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TelefonoConyuge" class="control-label">Teléfono Conyuge</label>
                                    <input asp-for="TelefonoConyuge" class="form-control" />
                                    <span asp-validation-for="TelefonoConyuge" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend style="display:none;"><i class="fa fa-info fa-2x"></i><br />Contactos</legend>
                        <h3>Contactos</h3>
                        <hr style="border:1px solid #1e7c9b"/>
                        <div class="form-group">
                            <label asp-for="Telefono" class="control-label">Teléfono</label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Direccion" class="control-label">Dirección</label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend style="display:none;"><i class="fa fa-user fa-2x"></i><br />Encargados</legend>
                        <h3 style="border:1px solid #1e7c9b">Encargados</h3>
                        <hr />
                        <center>
                            <div class="form-group">
                                <label><input type="radio" name="estado" id="1" value="Masculino" onclick="mostrarEncargados(id);" />Madre y Padre</label>
                                <label style="margin-left:25px;"><input type="radio" name="estado" id="2" value="Femenino" onclick="mostrarEncargados(id);" />Encargado</label>
                            </div>
                        </center>
                        <script>
                            function mostrarEncargados(id) {
                                document.getElementById('madrePadre').style.display = 'none';
                                document.getElementById('encargado').style.display = 'none';

                                if (id == 1) {
                                    document.getElementById('madrePadre').style.display = 'block';
                                    document.getElementById('madrePadre').className = 'animated fadeIn panel panel-primary';
                                } else {
                                    document.getElementById('encargado').style.display = 'block';
                                    document.getElementById('encargado').className = 'animated fadeIn panel panel-primary';
                                }
                            }
                        </script>
                        <div style="display:none;" id="madrePadre">
                            <div class="panel-heading">
                                <h3>Madre y Padre</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="NombreCompletoMadre" class="control-label">Nombre Completo de la Madre</label>
                                    <input asp-for="NombreCompletoMadre" class="form-control" />
                                    <span asp-validation-for="NombreCompletoMadre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TelefonoMadre" class="control-label">Teléfono Madre</label>
                                    <input asp-for="TelefonoMadre" class="form-control" />
                                    <span asp-validation-for="TelefonoMadre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NombreCompletoPadre" class="control-label">Nombre Completo del Padre</label>
                                    <input asp-for="NombreCompletoPadre" class="form-control" />
                                    <span asp-validation-for="NombreCompletoPadre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TelefonoPadre" class="control-label">Teléfono Padre</label>
                                    <input asp-for="TelefonoPadre" class="form-control" />
                                    <span asp-validation-for="TelefonoPadre" class="text-danger"></span>
                                </div>
                            </div> 
                        </div>
                        <div style="display:none;" id="encargado">
                            <div class="panel-heading">
                                <h3>Encargado</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="NombreCompletoEncargado" class="control-label">Nombre Completo del Encargado</label>
                                    <input asp-for="NombreCompletoEncargado" class="form-control" />
                                    <span asp-validation-for="NombreCompletoEncargado" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TelefonoEncargado" class="control-label">Teléfono del Encargado</label>
                                    <input asp-for="TelefonoEncargado" class="form-control" />
                                    <span asp-validation-for="TelefonoEncargado" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ParentescoEncargado" class="control-label">Parentesco Encargado</label>
                                    <input asp-for="ParentescoEncargado" class="form-control" />
                                    <span asp-validation-for="ParentescoEncargado" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        
                    </fieldset>
                    <fieldset>
                        <legend style="display:none;"><i class="fa fa-check fa-3x"></i></legend>
                        <center>
                            <h3 id="terminado">Has terminado<br /><i class="fa fa-check fa-3x"></i></h3>
                            <p>
                                <input id="agregar" class="btn btn-sm btn-next" type="submit" value="Agregar Encuentrista" />
                            </p>
                        </center>
                    </fieldset>
                    
                </form>
            </div>
            
        </div>
   </div>            
</div>

        

    @*<div class="panel panel-primary">
            <div class="panel-heading">
                <h3> Agregar Encuentrista</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5">
                        <form id="SignupForm" asp-action="AgregarEncuentrista" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <fieldset>
                                <legend>Información personal</legend>
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Apellido1" class="control-label"></label>
                                    <input asp-for="Apellido1" class="form-control" />
                                    <span asp-validation-for="Apellido1" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Apellido2" class="control-label"></label>
                                    <input asp-for="Apellido2" class="form-control" />
                                    <span asp-validation-for="Apellido2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FechaDeNacimiento" class="control-label"></label>
                                    <input asp-for="FechaDeNacimiento" class="form-control" />
                                    <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sexo" class="control-label"></label><br />
                                    <label><input asp-for="Sexo" type="radio" name="sexo" id="1" value="Masculino" />Masculino</label>
                                    <label><input asp-for="Sexo" type="radio" name="sexo" id="2" value="Femenino" />Femenino</label>
                                    <span asp-validation-for="Sexo" class="text-danger"></span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Contactos</legend>
                                <div class="form-group">
                                    <label asp-for="Telefono" class="control-label"></label>
                                    <input asp-for="Telefono" class="form-control" />
                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Direccion" class="control-label"></label>
                                    <input asp-for="Direccion" class="form-control" />
                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Encargado</legend>
                                <div class="form-group">
                                    <label asp-for="NombreCompletoMadre" class="control-label"></label>
                                    <input asp-for="NombreCompletoMadre" class="form-control" />
                                    <span asp-validation-for="NombreCompletoMadre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TelefonoMadre" class="control-label"></label>
                                    <input asp-for="TelefonoMadre" class="form-control" />
                                    <span asp-validation-for="TelefonoMadre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NombreCompletoPadre" class="control-label"></label>
                                    <input asp-for="NombreCompletoPadre" class="form-control" />
                                    <span asp-validation-for="NombreCompletoPadre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TelefonoPadre" class="control-label"></label>
                                    <input asp-for="TelefonoPadre" class="form-control" />
                                    <span asp-validation-for="TelefonoPadre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NombreCompletoEncargado" class="control-label"></label>
                                    <input asp-for="NombreCompletoEncargado" class="form-control" />
                                    <span asp-validation-for="NombreCompletoEncargado" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TelefonoEncargado" class="control-label"></label>
                                    <input asp-for="TelefonoEncargado" class="form-control" />
                                    <span asp-validation-for="TelefonoEncargado" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ParentescoEncargado" class="control-label"></label>
                                    <input asp-for="ParentescoEncargado" class="form-control" />
                                    <span asp-validation-for="ParentescoEncargado" class="text-danger"></span>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Estado civil</legend>
                                <div class="form-group">
                                    <label class="control-label">Estado Civil</label><br />
                                    <label><input type="radio" name="estado" id="1" value="Masculino" onclick="mostrarDiv(id);" />Soltero</label>
                                    <label><input type="radio" name="estado" id="2" value="Femenino" onclick="mostrarDiv(id);" />Casado</label>
                                </div>
                                <script>
                                    function mostrarDiv(estado) {
                                        if (estado == 1) {
                                            document.getElementById('info').style.display = 'none';
                                            document.getElementById('info').className = 'animated fadeIn';
                                        }
                                        else {
                                            document.getElementById('info').style.display = 'block';
                                            document.getElementById('info').className = 'animated fadeIn panel panel-primary';
                                        }
                                    }
                                </script>

                                <div style="display:none;" id="info">
                                    <div class="panel-heading">
                                        <h3>Estado civil</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label asp-for="NombreCompletoConyuge" class="control-label"></label>
                                            <input asp-for="NombreCompletoConyuge" class="form-control" />
                                            <span asp-validation-for="NombreCompletoConyuge" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="TelefonoConyuge" class="control-label"></label>
                                            <input asp-for="TelefonoConyuge" class="form-control" />
                                            <span asp-validation-for="TelefonoConyuge" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>



                            <div class="form-group">
                                <input id="AgregarEncuentrista" type="submit" value="Agregar Encuentrista" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>



    <div>
        <a asp-action="Encuentros">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    </div>*@
