@model SistemaCIA.Models.Academias.AcademiasNivelesModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>
<h4>Academias</h4>
<hr />


<div class="row">
    <form id="form1" asp-action="Create">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <input type="hidden" id="parametros" name="parametros" />
            <div class="form-group">
                <input type="submit" value="Guardar" onclick="AgregarNivel()" class="btn btn-default" />
            </div>

        </div>
        <div class="col-md-4">
            <h4>Seleccione los niveles</h4>
            @foreach (var item in Model.niveles)
            {
                <div class="form-group">
                    <label class="control-label">
                        <input type="checkbox" name="checkbox" id="@item.CodigoNivel" value="@item.CodigoNivel" />
                        @item.Nombre
                    </label>
                    <span asp-validation-for="@item.Nombre" class="text-danger"></span>
                </div>

            }

            <script>

                function AgregarNivel() {

                    var checkboxes = document.getElementById("form1").checkbox;
                    var cont = 0;
                    var v = "";

                    for (var x = 0; x < checkboxes.length; x++) {
                        if (checkboxes[x].checked) {
                            cont = cont + 1;

                            v = v + checkboxes[x].value.toString() + "/";

                        }
                    }
                    v = v + cont.toString();

                    document.getElementById("parametros").value = v;

                }

            </script>

        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
