@model SistemaCIA.Models.ContextDb.Informescelulares

@{
    ViewData["Title"] = "Agregar Informe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid contenido">
    <div class="row">
        <div class="panel-heading division" style="border-bottom: solid 2px #1e7c9b">
            <h3><img width="50" src="~/images/logo2.jpg" />Informe celular</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body division">
                <h4>Agregar informe de esta semana</h4>
                <hr style="border:1px solid #1e7c9b"/>
                <form asp-action="AgregarInforme">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Asistencia" class="control-label"></label>
                        <input asp-for="Asistencia" class="form-control" />
                        <span asp-validation-for="Asistencia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Visitas" class="control-label"></label>
                        <input asp-for="Visitas" class="form-control" />
                        <span asp-validation-for="Visitas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ofrenda" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-addon">₡</span>
                            <input asp-for="Ofrenda" class="form-control" />
                            <span asp-validation-for="Ofrenda" class="text-danger"></span>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label asp-for="Observaciones" class="control-label"></label>
                        <textarea asp-for="Observaciones" rows="4" style="resize:vertical" class="form-control"></textarea>
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="SeRealizo" /> Se realizo
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <center>
                            <button style="float:none;" type="submit" class="btn btn-xs btn-next"><small>Agregar</small></button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


